<!-- AddTaskComponent -->
<div class="addTask">
  <div class="addTaskContainer">
    <div class="addTaskGroup">
      <div class="form-group">
        <input id="name" [(ngModel)]="newTask.name" placeholder="Nome" />
      </div>
      <div class="form-group">
        <input
          id="descricao"
          [(ngModel)]="newTask.description"
          placeholder="Descrição"
        />
      </div>
      <div class="form-group">
        <input type="date" id="data" [(ngModel)]="newTask.date" />
      </div>
      <div class="form-group">
        <input type="time" id="hora" [(ngModel)]="newTask.time" />
      </div>
      <div class="form-group">
        <input type="checkbox" id="completed" [(ngModel)]="newTask.completed" />
      </div>
      <button (click)="addTask()">Adicionar tarefa</button>
    </div>
  </div>
</div>
